<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <% branchDiffDep.forEach(function(dep){ %>
      <li>
        <h3><%= dep.file %></h3>
        <p>描述：<span><%= dep.fileDesc.Description %></span></p>
        <p>最后修改：<span><%= dep.fileDesc.LastEditors %></span></p>
        <% if (dep.beDeped.length > 0) { %>
            <p>影响范围：
                <ul>
                    <% dep.beDeped.forEach(function(beDepedFile){ %>
                        <li>
                            <p><%= beDepedFile.fileDesc.file %></p>
                            <p>描述：<span><%= beDepedFile.fileDesc.Description %></span></p>
                            <p>最后修改：<span><%= beDepedFile.fileDesc.LastEditors %></span></p>
                        </li>
                    <% }); %>
                </ul>
            </p>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
